@keyframes section-mainly-bg-fade-in {
  0% {
    transform: translate(50%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.section-mainly {
    min-height: 90vh;
    position: relative;
    background-color: #133364;

    &:after {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;
        display: block;
        content: '';
        opacity: 0.8;
        background-image: linear-gradient(to bottom, #133364, #036ad8);
        z-index: 2;
    }

    .section {
        padding-top: 25vh;
    }

    .section-content {
        z-index: 4;
    }

    .section-title {
        max-width: 396px;
        font-size: 46px;
        font-weight: bold;
        line-height: 1.09;
        letter-spacing: 0.6px;
        color: #ffffff;
    }

    .section-msg {
        max-width: 340px;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.85);
    }

    .section-mainly-bg-container {
        width: 50%;
        position: absolute;
        top: 21vh;
        right: 0;
        z-index: 3;
    }

    .section-mainly-bg {
        width: 700px;
        height: 346px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: resolve('macbook.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 3;
    }

    .section-mainly-bg-mobile {
        margin-top: 34px;
        width: 100%;
        padding-top: 59%;
        background-image: resolve('macbook.png');
        background-size: 85% 85%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .section-mainly-bg-animation {
        animation: section-mainly-bg-fade-in .7s;
    }

    .email-subscription {
        justify-content: left;
    }

    .desktop-rate-link {
        position: absolute;
        left: 0;
        bottom: 35px;
    }

    .rate-link {
        width: 100%;
        text-align: center;
        z-index: 3;

        .left-link {
            margin-right: 50px;
        }

        .link-img {
            width: 98px;
            height: 35px;
            margin-right: 8px;
            display: inline-block;
        }

        .ico-track {
            background-image: resolve('icon-track.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .ico-bench {
            background-image: resolve('icon-bench.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .rate {
            position: relative;
            font-size: 19px;
            font-weight: bold;
            color: #1ec0ff;
            vertical-align: bottom;
            line-height: 40px;

            &.small {
                font-size: 15px;
                line-height: 38px;

                &:after {
                    width: 14px;
                    height: 14px;
                    position: absolute;
                    top: 0;
                    margin-left: 5px;
                    content: "";
                    background-image: resolve('icon-star.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

.fixed-button {
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    border-radius: 50%;
    background-color: #1ec0ff;
    z-index: 200;
    cursor: pointer;
    
    &:after {
        width: 27px;
        height: 24px;
        position: absolute;
        top: 16px;
        left: 11px;
        display: block;
        content: '';
        background-image: resolve('icon-t.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media $breakpoint-big-mobile {
    .section-mainly {
        .section-mainly-bg-container {
            display: none;
        }

        .email-subscription {
            display: none;
        }

        .rate-link {
            padding: 5px 0 41px 0;
        }

        .desktop-rate-link {
            display: none;
        }
    }
}

@media $breakpoint-tablet {
    .section-mainly {
        min-height: 80vh;

        .section-title {
            width: 95%;
            margin: 0 auto;
            font-size: 34px;
        }
        
        .section {
            padding-top: 22vh;
        }

        .section-mainly-bg-container {
            top: 19vh;
        }
    }
}

@media $breakpoint-big-mobile {
    .section-mainly {
        .section-title {
            width: 95%;
            margin: 0 auto;
            font-size: 34px;
            text-align: center;
        }

        .section-msg {
            margin: 0 auto;
        }
    }
}