@keyframes section-economics-circle-animation {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes section-economics-circle-blue-animation {
  0% {
    transform: translate(50%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.section-economics {
    position: relative;
    background-color: #133364;

    .section-economics-bg {
        width: 563px;
        height: 563px;
        position: absolute;
        left: -69px;
        bottom: 0;
        background-image: resolve('economics-bg.svg');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
    }

    .two-circle-container {
        padding-bottom: 0;
    }

    .pure-u-1-3, .pure-u-1-2, .pure-u-1-4 {
        z-index: 2;
    }

    .section {
        justify-content: center;
    }

    .section-title {
        margin-bottom: 20px;
        font-size: 46px;
        font-weight: bold;
        line-height: 1.09;
        letter-spacing: 0.6px;
        color: #ffffff;
    }

    .section-sub-title {
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 29px;
        font-weight: bold;
        color: #ffffff;
    }

    .section-msg {
        font-size: 20px;
        line-height: 1.5;
        color: #ffffff;
    }

    .circle {
        height: 240px;
        width: 240px;
        position: relative;
        margin-top: 38px;
        box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.09);
        background-color: rgba(0, 135, 255, 0.8);
        border-radius: 50%;
        display: inline-block;
        z-index: 2;

        &.blue {
            margin-left: -50px;
            background-color: rgba(30, 192, 255, 0.8);
            z-index: 1;
        }
    }

    .section-economics-circle-animation {
        animation: section-economics-circle-animation .7s;
    }

    .section-economics-circle-blue-animation {
        animation: section-economics-circle-blue-animation .7s;
    }

    .circle-text {
        transform: translate(0, 100px);
        height: 50%;
        text-align: center;
        font-size: 55px;
        font-weight: bold;
        line-height: 0.51;
        letter-spacing: -0.4px;
        color: #ffffff;
    }

    .circle-tips {
        margin-top: 18px;
        opacity: 0.7;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: -0.2px;
        color: #ffffff;
    }

    .chart-container {
        padding: 0 150px 40px 150px;
    }

    .chart-container-pie {
        position: relative;
        z-index: 2;
    }

    .chart-center-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 55px;
        font-weight: bold;
        color: #ffffff;
        z-index: 1;
    }

    .chart-center-tips {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.94;
        color: rgba(255, 255, 255, 0.7);
    }


    .labels {
        display: flex;
        height: 300px;
        flex-direction: column;
    }

    .labels-item {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.94;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;

        .title {
            font-size: 29px;
            font-weight: bold;
            line-height: 0.97;
            color: #0085fd;
        }
    }
}

@media $breakpoint-medium-desktop {
    .section-economics {
        .circle {
            width: 180px;
            height: 180px;
        }

        .circle-text {
            transform: translate(0, 75%);
            font-size: 40px;
        }

        .circle-tips {
            font-size: 12px;
        }
    }
}

@media $breakpoint-tablet {
    .section-economics {
        .section-title {
            margin-bottom: 20px;
            font-size: 32px;
        }

        .circle {
            width: 130px;
            height: 130px;

            &.blue {
                margin-left: -15px;
            }
        }

        .chart-container {
            padding: 0 30px 40px 30px;
        }
    }
}


@media $breakpoint-big-mobile {
    .section-economics {
        .section-sub-title {
            font-size: 25px;
        }

        .chart-container {
            padding: 0 30px;
        }

        .chart-container-pie {
            margin-bottom: 20px;
        }
        
        .circle {
            width: 150px;
            height: 150px;
        }

        .circle-text {
            transform: translate(0, 70%);
            font-size: 40px;
        }

        .circle-tips {
            font-size: 12px;
        }

        .chart-container {
            padding: 0 15px 60px 15px
        }

        .labels {
            height: auto;
            flex-direction: row;
            align-items: flex-start;
            
            &:last-child {
                margin-top: 39px;
            }
        }

        .labels-item {
            font-size: 14px;
            line-height: normal;
        }

        .section-economics-bg {
            width: 100%;
            height: 100%;
        }
    }

    .chart-label-container {
        margin-top: 24px;
        z-index: 2;
    }
}