.section-media {
    background-color: #133364;

    .section {
        padding-bottom: 100px;
    }

    .section-title {
        margin-bottom: 30px;
        font-size: 46px;
        font-weight: bold;
        line-height: 1.09;
        letter-spacing: 0.6px;
        color: #ffffff;
    }
}

.media-container {
    position: relative;
    font-size: 16px;
    line-height: 1.56;
    color: #133364;
    display: inline-block;
}

.media-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.48) 39%, rgba(0, 0, 0, 0.48) 58%, #000000);
    cursor: pointer;
}

.media-title {
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 17px;
    line-height: 1.41;
    color: #ffffff;
}

.media-logo {
    width: 130px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: contain;
}

.media-img {
    width: 320px;
    height: 220px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
    transition: background-size 0.2s ease-in;
}

.media-container-hover{
    .media-img {
        background-size: 110% 110%;
    }
}

.media-img-crow {
    background-image: resolve('media_pic_CryptoCrow.jpg');
}

.media-img-bad {
    background-image: resolve('media_pic_TheBadCryptoPodca.jpg');
}

.media-img-prome {
    background-image: resolve('media_pic_Prometheus.jpg');
}

.media-logo-crow {
    background-image: resolve('media-logo-crow.png');
}

.media-logo-bad {
    background-image: resolve('media-logo-bad.png');
}

.media-logo-prome {
    background-image: resolve('media-logo-prome.png');
}

.media-link-container {
    margin-top: 90px;
    margin-bottom: 60px;
}

.media-link {
    height: 65px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.media-link-its {
    background-image: resolve('link-its.png');
}

.media-link-exchange {
    background-image: resolve('link-exchange.png');
}

.media-link-bitsonline {
    background-image: resolve('link-bitsonline.png');
}

.media-link-idol {
    background-image: resolve('link-idol.png');
}

.media-link-reuters {
    background-image: resolve('link-reuters.png');
}

.media-link-cryptomode {
    background-image: resolve('link-cryptomode.png');
}

.media-link-oracle {
    background-image: resolve('link-oracle.png');
}

.media-link-speaker {
    background-image: resolve('link-speaker.png');
}

.media-link-nvezz {
    background-image: resolve('link-nvezz.png');
}

.media-link-bitcoin {
    background-image: resolve('link-bitcoin.png');
}

.media-s-link {
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.media-s-link-bench {
    background-image: resolve('link-s-bench.png');
}

.media-s-link-track {
    background-image: resolve('link-s-track.png');
}

.media-s-link-icodr {
    background-image: resolve('link-s-icodr.png');
}

.media-s-link-rating {
    background-image: resolve('link-s-rating.png');
}

.media-s-link-icoholder {
    background-image: resolve('link-s-icoholder.png');
}

.media-s-link-watch {
    background-image: resolve('link-s-watch.png');
}

.media-s-link-marks {
    background-image: resolve('link-s-marks.png');
}

@media $breakpoint-big-mobile {
    .section-media {
        .section {
            padding-bottom: 50px;
            padding-left: 0;
            padding-right: 0;
        }

        .section-title {
            margin-left: 30px;
            font-size: 33px;
            line-height: 1.09;
            letter-spacing: 0.4px;
        }
    }

    .media-list {
        padding-left: 30px;
        display: inline-block;
        white-space: nowrap;
    }

    .media-container-desktop {
        display: none;
    }

    .media-container {
        margin-right: 10px;
        display: inline-block;
    }

    .section-media {
        .section-title {
            font-size: 33px;
        }
    }

    .media-desktop-link {
        display: none;
    }

    .media-link {
        height: 50px;
    }

    .media-s-link {
        width: 110px;
        height: 20px;
        display: inline-block;
    }
}

@media $breakpoint-big-desktop{
    .media-img {
        width: 300px;
        height: 189px;
    }

    .media-link {
        height: 65px;
    }

    .media-s-link {
        height: 36px;
    }
}

@media $breakpoint-medium-desktop{
    .media-img {
        width: 270px;
        height: 170px;
    }

    .media-link {
        height: 55px;
    }

    .media-s-link {
        height: 32px;
    }
}

@media $breakpoint-tablet {
    .media-img {
        width: 240px;
        height: 150px;
        margin-bottom: 10px;
    }

    .media-link-container {
        margin: 40px 0;
    }
}
