*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    -webkit-font-smoothing: antialiased;
}
body.lock {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
input[type=text], input[type=email], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    outline: none;
}
input[type=text]:hover, input[type=text]:focus, input[type=email]:hover, input[type=email]:focus, textarea:hover, textarea:focus {
    text-decoration: none;
    outline: none;
}
.row {
    display: block;
    margin: auto;
}
.pure-g {
    width: 100%;
    max-width: 1200px;
}
.section {
    padding: 75px 0;
}
.section .section-title {
    font-size: 42px;
    line-height: 1.3;
    letter-spacing: normal;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.icon-close {
    width: 14px;
    height: 14px;
    background: no-repeat url('../img/icon-cancel.svg');
    background-size: 100% 100%;
    display: inline-block;
}
.logo-img {
    width: 56px;
    height: 33px;
    margin-right: 5px;
    background: no-repeat url('../img/logo.svg');
    background-size: 100% 100%;
    display: inline-block;
}
.logo-text {
    font-size: 30px;
    font-weight: bold;
    line-height: 38px;
    color: #ffffff;
    vertical-align: top;
}
@media screen and (max-width: 1400px) {
    .section {
        padding: 75px 79px;
    }
}
@media screen and (max-width: 1080px) {
    .section {
        padding: 75px 50px;
    }
}
@media screen and (max-width: 768px) {
    .logo-img {
        width: 48px;
        height: 28px;
        margin-right: 7px;
    }
    .logo-text {
        display: none;
    }
}
/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-g {
    letter-spacing: -0.31em;
    letter-spacing: normal;
    word-spacing: -0.43em;
    text-rendering: optimizespeed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    table .pure-g {
        display: block;
    }
}
.opera-only :-o-prefocus, .pure-g {
    word-spacing: -0.43em;
}
.pure-u {
    display: inline-block;
    display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-5-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-1-7, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-2-24, .pure-u-3-24, .pure-u-4-24, .pure-u-5-24, .pure-u-6-24, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
    display: inline-block;
    display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.pure-u-1-24 {
    width: 4.1667%;
    width: 4.1357%;
}
.pure-u-1-12, .pure-u-2-24 {
    width: 8.3333%;
    width: 8.3023%;
}
.pure-u-1-8, .pure-u-3-24 {
    width: 12.5000%;
    width: 12.4690%;
}
.pure-u-1-7 {
    width: 14.2857%;
    width: 14.2857%;
}
.pure-u-1-6, .pure-u-4-24 {
    width: 16.6667%;
    width: 16.6357%;
}
.pure-u-1-5 {
    width: 20%;
    width: 19.9690%;
}
.pure-u-5-24 {
    width: 20.8333%;
    width: 20.8023%;
}
.pure-u-1-4, .pure-u-6-24 {
    width: 25%;
    width: 24.9690%;
}
.pure-u-7-24 {
    width: 29.1667%;
    width: 29.1357%;
}
.pure-u-1-3, .pure-u-8-24 {
    width: 33.3333%;
    width: 33.3023%;
}
.pure-u-3-8, .pure-u-9-24 {
    width: 37.5000%;
    width: 37.4690%;
}
.pure-u-2-5 {
    width: 40%;
    width: 39.9690%;
}
.pure-u-5-12, .pure-u-10-24 {
    width: 41.6667%;
    width: 41.6357%;
}
.pure-u-11-24 {
    width: 45.8333%;
    width: 45.8023%;
}
.pure-u-1-2, .pure-u-12-24 {
    width: 50%;
    width: 49.9690%;
}
.pure-u-13-24 {
    width: 54.1667%;
    width: 54.1357%;
}
.pure-u-7-12, .pure-u-14-24 {
    width: 58.3333%;
    width: 58.3023%;
}
.pure-u-3-5 {
    width: 60%;
    width: 59.9690%;
}
.pure-u-5-8, .pure-u-15-24 {
    width: 62.5000%;
    width: 62.4690%;
}
.pure-u-2-3, .pure-u-16-24 {
    width: 66.6667%;
    width: 66.6357%;
}
.pure-u-17-24 {
    width: 70.8333%;
    width: 70.8023%;
}
.pure-u-3-4, .pure-u-18-24 {
    width: 75%;
    width: 74.9690%;
}
.pure-u-19-24 {
    width: 79.1667%;
    width: 79.1357%;
}
.pure-u-4-5 {
    width: 80%;
    width: 79.9690%;
}
.pure-u-5-6, .pure-u-20-24 {
    width: 83.3333%;
    width: 83.3023%;
}
.pure-u-7-8, .pure-u-21-24 {
    width: 87.5000%;
    width: 87.4690%;
}
.pure-u-11-12, .pure-u-22-24 {
    width: 91.6667%;
    width: 91.6357%;
}
.pure-u-23-24 {
    width: 95.8333%;
    width: 95.8023%;
}
.pure-u-1, .pure-u-1-1, .pure-u-5-5, .pure-u-24-24 {
    width: 100%;
}
/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
@media screen and (min-width: 35.5em) {
    .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-2, .pure-u-sm-1-3, .pure-u-sm-2-3, .pure-u-sm-1-4, .pure-u-sm-3-4, .pure-u-sm-1-5, .pure-u-sm-2-5, .pure-u-sm-3-5, .pure-u-sm-4-5, .pure-u-sm-5-5, .pure-u-sm-1-6, .pure-u-sm-5-6, .pure-u-sm-1-8, .pure-u-sm-3-8, .pure-u-sm-5-8, .pure-u-sm-7-8, .pure-u-sm-1-12, .pure-u-sm-5-12, .pure-u-sm-7-12, .pure-u-sm-11-12, .pure-u-sm-1-24, .pure-u-sm-2-24, .pure-u-sm-3-24, .pure-u-sm-4-24, .pure-u-sm-5-24, .pure-u-sm-6-24, .pure-u-sm-7-24, .pure-u-sm-8-24, .pure-u-sm-9-24, .pure-u-sm-10-24, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24 {
        display: inline-block;
        display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }
    .pure-u-sm-1-24 {
        width: 4.1667%;
        width: 4.1357%;
    }
    .pure-u-sm-1-12, .pure-u-sm-2-24 {
        width: 8.3333%;
        width: 8.3023%;
    }
    .pure-u-sm-1-8, .pure-u-sm-3-24 {
        width: 12.5000%;
        width: 12.4690%;
    }
    .pure-u-sm-1-6, .pure-u-sm-4-24 {
        width: 16.6667%;
        width: 16.6357%;
    }
    .pure-u-sm-1-5 {
        width: 20%;
        width: 19.9690%;
    }
    .pure-u-sm-5-24 {
        width: 20.8333%;
        width: 20.8023%;
    }
    .pure-u-sm-1-4, .pure-u-sm-6-24 {
        width: 25%;
        width: 24.9690%;
    }
    .pure-u-sm-7-24 {
        width: 29.1667%;
        width: 29.1357%;
    }
    .pure-u-sm-1-3, .pure-u-sm-8-24 {
        width: 33.3333%;
        width: 33.3023%;
    }
    .pure-u-sm-3-8, .pure-u-sm-9-24 {
        width: 37.5000%;
        width: 37.4690%;
    }
    .pure-u-sm-2-5 {
        width: 40%;
        width: 39.9690%;
    }
    .pure-u-sm-5-12, .pure-u-sm-10-24 {
        width: 41.6667%;
        width: 41.6357%;
    }
    .pure-u-sm-11-24 {
        width: 45.8333%;
        width: 45.8023%;
    }
    .pure-u-sm-1-2, .pure-u-sm-12-24 {
        width: 50%;
        width: 49.9690%;
    }
    .pure-u-sm-13-24 {
        width: 54.1667%;
        width: 54.1357%;
    }
    .pure-u-sm-7-12, .pure-u-sm-14-24 {
        width: 58.3333%;
        width: 58.3023%;
    }
    .pure-u-sm-3-5 {
        width: 60%;
        width: 59.9690%;
    }
    .pure-u-sm-5-8, .pure-u-sm-15-24 {
        width: 62.5000%;
        width: 62.4690%;
    }
    .pure-u-sm-2-3, .pure-u-sm-16-24 {
        width: 66.6667%;
        width: 66.6357%;
    }
    .pure-u-sm-17-24 {
        width: 70.8333%;
        width: 70.8023%;
    }
    .pure-u-sm-3-4, .pure-u-sm-18-24 {
        width: 75%;
        width: 74.9690%;
    }
    .pure-u-sm-19-24 {
        width: 79.1667%;
        width: 79.1357%;
    }
    .pure-u-sm-4-5 {
        width: 80%;
        width: 79.9690%;
    }
    .pure-u-sm-5-6, .pure-u-sm-20-24 {
        width: 83.3333%;
        width: 83.3023%;
    }
    .pure-u-sm-7-8, .pure-u-sm-21-24 {
        width: 87.5000%;
        width: 87.4690%;
    }
    .pure-u-sm-11-12, .pure-u-sm-22-24 {
        width: 91.6667%;
        width: 91.6357%;
    }
    .pure-u-sm-23-24 {
        width: 95.8333%;
        width: 95.8023%;
    }
    .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-5-5, .pure-u-sm-24-24 {
        width: 100%;
    }
}
@media screen and (min-width: 48em) {
    .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-2, .pure-u-md-1-3, .pure-u-md-2-3, .pure-u-md-1-4, .pure-u-md-3-4, .pure-u-md-1-5, .pure-u-md-2-5, .pure-u-md-3-5, .pure-u-md-4-5, .pure-u-md-5-5, .pure-u-md-1-6, .pure-u-md-5-6, .pure-u-md-1-8, .pure-u-md-3-8, .pure-u-md-5-8, .pure-u-md-7-8, .pure-u-md-1-12, .pure-u-md-5-12, .pure-u-md-7-12, .pure-u-md-11-12, .pure-u-md-1-24, .pure-u-md-2-24, .pure-u-md-3-24, .pure-u-md-4-24, .pure-u-md-5-24, .pure-u-md-6-24, .pure-u-md-7-24, .pure-u-md-8-24, .pure-u-md-9-24, .pure-u-md-10-24, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24 {
        display: inline-block;
        display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }
    .pure-u-md-1-24 {
        width: 4.1667%;
        width: 4.1357%;
    }
    .pure-u-md-1-12, .pure-u-md-2-24 {
        width: 8.3333%;
        width: 8.3023%;
    }
    .pure-u-md-1-8, .pure-u-md-3-24 {
        width: 12.5000%;
        width: 12.4690%;
    }
    .pure-u-md-1-6, .pure-u-md-4-24 {
        width: 16.6667%;
        width: 16.6357%;
    }
    .pure-u-md-1-5 {
        width: 20%;
        width: 19.9690%;
    }
    .pure-u-md-5-24 {
        width: 20.8333%;
        width: 20.8023%;
    }
    .pure-u-md-1-4, .pure-u-md-6-24 {
        width: 25%;
        width: 24.9690%;
    }
    .pure-u-md-7-24 {
        width: 29.1667%;
        width: 29.1357%;
    }
    .pure-u-md-1-3, .pure-u-md-8-24 {
        width: 33.3333%;
        width: 33.3023%;
    }
    .pure-u-md-3-8, .pure-u-md-9-24 {
        width: 37.5000%;
        width: 37.4690%;
    }
    .pure-u-md-2-5 {
        width: 40%;
        width: 39.9690%;
    }
    .pure-u-md-5-12, .pure-u-md-10-24 {
        width: 41.6667%;
        width: 41.6357%;
    }
    .pure-u-md-11-24 {
        width: 45.8333%;
        width: 45.8023%;
    }
    .pure-u-md-1-2, .pure-u-md-12-24 {
        width: 50%;
        width: 49.9690%;
    }
    .pure-u-md-13-24 {
        width: 54.1667%;
        width: 54.1357%;
    }
    .pure-u-md-7-12, .pure-u-md-14-24 {
        width: 58.3333%;
        width: 58.3023%;
    }
    .pure-u-md-3-5 {
        width: 60%;
        width: 59.9690%;
    }
    .pure-u-md-5-8, .pure-u-md-15-24 {
        width: 62.5000%;
        width: 62.4690%;
    }
    .pure-u-md-2-3, .pure-u-md-16-24 {
        width: 66.6667%;
        width: 66.6357%;
    }
    .pure-u-md-17-24 {
        width: 70.8333%;
        width: 70.8023%;
    }
    .pure-u-md-3-4, .pure-u-md-18-24 {
        width: 75%;
        width: 74.9690%;
    }
    .pure-u-md-19-24 {
        width: 79.1667%;
        width: 79.1357%;
    }
    .pure-u-md-4-5 {
        width: 80%;
        width: 79.9690%;
    }
    .pure-u-md-5-6, .pure-u-md-20-24 {
        width: 83.3333%;
        width: 83.3023%;
    }
    .pure-u-md-7-8, .pure-u-md-21-24 {
        width: 87.5000%;
        width: 87.4690%;
    }
    .pure-u-md-11-12, .pure-u-md-22-24 {
        width: 91.6667%;
        width: 91.6357%;
    }
    .pure-u-md-23-24 {
        width: 95.8333%;
        width: 95.8023%;
    }
    .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-5-5, .pure-u-md-24-24 {
        width: 100%;
    }
}
@media screen and (min-width: 64em) {
    .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-1-2, .pure-u-lg-1-3, .pure-u-lg-2-3, .pure-u-lg-1-4, .pure-u-lg-3-4, .pure-u-lg-1-5, .pure-u-lg-2-5, .pure-u-lg-3-5, .pure-u-lg-4-5, .pure-u-lg-5-5, .pure-u-lg-1-6, .pure-u-lg-5-6, .pure-u-lg-1-8, .pure-u-lg-3-8, .pure-u-lg-5-8, .pure-u-lg-7-8, .pure-u-lg-1-12, .pure-u-lg-5-12, .pure-u-lg-7-12, .pure-u-lg-11-12, .pure-u-lg-1-24, .pure-u-lg-2-24, .pure-u-lg-3-24, .pure-u-lg-4-24, .pure-u-lg-5-24, .pure-u-lg-6-24, .pure-u-lg-7-24, .pure-u-lg-8-24, .pure-u-lg-9-24, .pure-u-lg-10-24, .pure-u-lg-11-24, .pure-u-lg-12-24, .pure-u-lg-13-24, .pure-u-lg-14-24, .pure-u-lg-15-24, .pure-u-lg-16-24, .pure-u-lg-17-24, .pure-u-lg-18-24, .pure-u-lg-19-24, .pure-u-lg-20-24, .pure-u-lg-21-24, .pure-u-lg-22-24, .pure-u-lg-23-24, .pure-u-lg-24-24 {
        display: inline-block;
        display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }
    .pure-u-lg-1-24 {
        width: 4.1667%;
        width: 4.1357%;
    }
    .pure-u-lg-1-12, .pure-u-lg-2-24 {
        width: 8.3333%;
        width: 8.3023%;
    }
    .pure-u-lg-1-8, .pure-u-lg-3-24 {
        width: 12.5000%;
        width: 12.4690%;
    }
    .pure-u-lg-1-6, .pure-u-lg-4-24 {
        width: 16.6667%;
        width: 16.6357%;
    }
    .pure-u-lg-1-5 {
        width: 20%;
        width: 19.9690%;
    }
    .pure-u-lg-5-24 {
        width: 20.8333%;
        width: 20.8023%;
    }
    .pure-u-lg-1-4, .pure-u-lg-6-24 {
        width: 25%;
        width: 24.9690%;
    }
    .pure-u-lg-7-24 {
        width: 29.1667%;
        width: 29.1357%;
    }
    .pure-u-lg-1-3, .pure-u-lg-8-24 {
        width: 33.3333%;
        width: 33.3023%;
    }
    .pure-u-lg-3-8, .pure-u-lg-9-24 {
        width: 37.5000%;
        width: 37.4690%;
    }
    .pure-u-lg-2-5 {
        width: 40%;
        width: 39.9690%;
    }
    .pure-u-lg-5-12, .pure-u-lg-10-24 {
        width: 41.6667%;
        width: 41.6357%;
    }
    .pure-u-lg-11-24 {
        width: 45.8333%;
        width: 45.8023%;
    }
    .pure-u-lg-1-2, .pure-u-lg-12-24 {
        width: 50%;
        width: 49.9690%;
    }
    .pure-u-lg-13-24 {
        width: 54.1667%;
        width: 54.1357%;
    }
    .pure-u-lg-7-12, .pure-u-lg-14-24 {
        width: 58.3333%;
        width: 58.3023%;
    }
    .pure-u-lg-3-5 {
        width: 60%;
        width: 59.9690%;
    }
    .pure-u-lg-5-8, .pure-u-lg-15-24 {
        width: 62.5000%;
        width: 62.4690%;
    }
    .pure-u-lg-2-3, .pure-u-lg-16-24 {
        width: 66.6667%;
        width: 66.6357%;
    }
    .pure-u-lg-17-24 {
        width: 70.8333%;
        width: 70.8023%;
    }
    .pure-u-lg-3-4, .pure-u-lg-18-24 {
        width: 75%;
        width: 74.9690%;
    }
    .pure-u-lg-19-24 {
        width: 79.1667%;
        width: 79.1357%;
    }
    .pure-u-lg-4-5 {
        width: 80%;
        width: 79.9690%;
    }
    .pure-u-lg-5-6, .pure-u-lg-20-24 {
        width: 83.3333%;
        width: 83.3023%;
    }
    .pure-u-lg-7-8, .pure-u-lg-21-24 {
        width: 87.5000%;
        width: 87.4690%;
    }
    .pure-u-lg-11-12, .pure-u-lg-22-24 {
        width: 91.6667%;
        width: 91.6357%;
    }
    .pure-u-lg-23-24 {
        width: 95.8333%;
        width: 95.8023%;
    }
    .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-5-5, .pure-u-lg-24-24 {
        width: 100%;
    }
}
@media screen and (min-width: 80em) {
    .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-1-2, .pure-u-xl-1-3, .pure-u-xl-2-3, .pure-u-xl-1-4, .pure-u-xl-3-4, .pure-u-xl-1-5, .pure-u-xl-2-5, .pure-u-xl-3-5, .pure-u-xl-4-5, .pure-u-xl-5-5, .pure-u-xl-1-6, .pure-u-xl-5-6, .pure-u-xl-1-8, .pure-u-xl-3-8, .pure-u-xl-5-8, .pure-u-xl-7-8, .pure-u-xl-1-12, .pure-u-xl-5-12, .pure-u-xl-7-12, .pure-u-xl-11-12, .pure-u-xl-1-24, .pure-u-xl-2-24, .pure-u-xl-3-24, .pure-u-xl-4-24, .pure-u-xl-5-24, .pure-u-xl-6-24, .pure-u-xl-7-24, .pure-u-xl-8-24, .pure-u-xl-9-24, .pure-u-xl-10-24, .pure-u-xl-11-24, .pure-u-xl-12-24, .pure-u-xl-13-24, .pure-u-xl-14-24, .pure-u-xl-15-24, .pure-u-xl-16-24, .pure-u-xl-17-24, .pure-u-xl-18-24, .pure-u-xl-19-24, .pure-u-xl-20-24, .pure-u-xl-21-24, .pure-u-xl-22-24, .pure-u-xl-23-24, .pure-u-xl-24-24 {
        display: inline-block;
        display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }
    .pure-u-xl-1-24 {
        width: 4.1667%;
        width: 4.1357%;
    }
    .pure-u-xl-1-12, .pure-u-xl-2-24 {
        width: 8.3333%;
        width: 8.3023%;
    }
    .pure-u-xl-1-8, .pure-u-xl-3-24 {
        width: 12.5000%;
        width: 12.4690%;
    }
    .pure-u-xl-1-6, .pure-u-xl-4-24 {
        width: 16.6667%;
        width: 16.6357%;
    }
    .pure-u-xl-1-5 {
        width: 20%;
        width: 19.9690%;
    }
    .pure-u-xl-5-24 {
        width: 20.8333%;
        width: 20.8023%;
    }
    .pure-u-xl-1-4, .pure-u-xl-6-24 {
        width: 25%;
        width: 24.9690%;
    }
    .pure-u-xl-7-24 {
        width: 29.1667%;
        width: 29.1357%;
    }
    .pure-u-xl-1-3, .pure-u-xl-8-24 {
        width: 33.3333%;
        width: 33.3023%;
    }
    .pure-u-xl-3-8, .pure-u-xl-9-24 {
        width: 37.5000%;
        width: 37.4690%;
    }
    .pure-u-xl-2-5 {
        width: 40%;
        width: 39.9690%;
    }
    .pure-u-xl-5-12, .pure-u-xl-10-24 {
        width: 41.6667%;
        width: 41.6357%;
    }
    .pure-u-xl-11-24 {
        width: 45.8333%;
        width: 45.8023%;
    }
    .pure-u-xl-1-2, .pure-u-xl-12-24 {
        width: 50%;
        width: 49.9690%;
    }
    .pure-u-xl-13-24 {
        width: 54.1667%;
        width: 54.1357%;
    }
    .pure-u-xl-7-12, .pure-u-xl-14-24 {
        width: 58.3333%;
        width: 58.3023%;
    }
    .pure-u-xl-3-5 {
        width: 60%;
        width: 59.9690%;
    }
    .pure-u-xl-5-8, .pure-u-xl-15-24 {
        width: 62.5000%;
        width: 62.4690%;
    }
    .pure-u-xl-2-3, .pure-u-xl-16-24 {
        width: 66.6667%;
        width: 66.6357%;
    }
    .pure-u-xl-17-24 {
        width: 70.8333%;
        width: 70.8023%;
    }
    .pure-u-xl-3-4, .pure-u-xl-18-24 {
        width: 75%;
        width: 74.9690%;
    }
    .pure-u-xl-19-24 {
        width: 79.1667%;
        width: 79.1357%;
    }
    .pure-u-xl-4-5 {
        width: 80%;
        width: 79.9690%;
    }
    .pure-u-xl-5-6, .pure-u-xl-20-24 {
        width: 83.3333%;
        width: 83.3023%;
    }
    .pure-u-xl-7-8, .pure-u-xl-21-24 {
        width: 87.5000%;
        width: 87.4690%;
    }
    .pure-u-xl-11-12, .pure-u-xl-22-24 {
        width: 91.6667%;
        width: 91.6357%;
    }
    .pure-u-xl-23-24 {
        width: 95.8333%;
        width: 95.8023%;
    }
    .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-5-5, .pure-u-xl-24-24 {
        width: 100%;
    }
}
body {
    font-family: Yantramanav,Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
.icon-social {
    width: 31px;
    height: 27px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.icon-social-telegram {
    background-image: url('../img/icon-telegram.svg');
}
.icon-social-twitter {
    background-image: url('../img/icon-twitter.svg');
}
.icon-social-fb {
    background-image: url('../img/icon-fb.svg');
}
.icon-social-medium {
    background-image: url('../img/icon-medium.svg');
}
.icon-social-youtube {
    background-image: url('../img/icon-youtube.svg');
}
.icon-social-bitcoin {
    background-image: url('../img/icon-bitcoin.svg');
}
.icon-social-linkedin {
    background-image: url('../img/icon-linkedin-social.svg');
}
.icon-social-reddit {
    background-image: url('../img/icon-reddit.svg');
}
.section-mainly {
    min-height: 570px;
    position: relative;
    background-color: #133364;
}
.section-mainly .section {
    padding-top: 165px;
}
.section-mainly .section-content {
    z-index: 4;
}
.section-mainly .section-title {
    max-width: 396px;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.09;
    letter-spacing: 0.6px;
    color: #ffffff;
}
.section-mainly .section-msg {
    max-width: 340px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.85);
}
.section-mainly .section-mainly-bg-container {
    position: absolute;
    top: 118px;
    right: 0;
    z-index: 3;
}
.section-mainly .section-mainly-bg {
    width: 700px;
    height: 346px;
    position: absolute;
    top: 20px;
    right: 0;
    background-image: url('../img/macbook.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 3;
}
.section-mainly .email-subscription {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
}
.section-mainly .rate-link {
    position: absolute;
    left: 0;
    bottom: 35px;
    width: 100%;
    text-align: center;
    z-index: 3;
}
.section-mainly .rate-link .left-link {
    margin-right: 50px;
}
.section-mainly .rate-link .link-img {
    width: 98px;
    height: 35px;
    margin-right: 8px;
    display: inline-block;
}
.section-mainly .rate-link .ico-track {
    background-image: url('../img/icon-track.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.section-mainly .rate-link .ico-bench {
    background-image: url('../img/icon-bench.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.section-mainly .rate-link .rate {
    font-size: 19px;
    font-weight: bold;
    color: #1ec0ff;
    vertical-align: bottom;
    line-height: 40px;
}
.section-mainly .rate-link .rate.small {
    font-size: 15px;
    line-height: 38px;
}
.section-mainly .rate-link .rate.small:after {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    margin-left: 5px;
    content: "";
    background-image: url('../img/icon-star.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.section-mainly:after {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    display: block;
    content: '';
    opacity: 0.8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#133364), to(#036ad8));
    background-image: linear-gradient(to bottom, #133364, #036ad8);
    z-index: 2;
}
.fixed-button {
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    border-radius: 50%;
    background-color: #1ec0ff;
    z-index: 200;
    cursor: pointer;
}
.fixed-button:after {
    width: 27px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 11px;
    display: block;
    content: '';
    background-image: url('../img/icon-t.png');
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
    .section-mainly .section-mainly-bg {
        right: -150px;
    }
}
@media screen and (max-width: 1080px) {
    .section-mainly .section-mainly-bg {
        right: -250px;
    }
}
.section-exchange {
    position: relative;
    background-color: #f0f6fe;
}
.section-exchange .section {
    padding-bottom: 130px;
}
.section-exchange .section-title {
    margin-bottom: 20px;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.09;
    letter-spacing: 0.6px;
    color: #0087ff;
}
.section-exchange .section-msg {
    max-width: 360px;
    font-size: 17px;
    line-height: 1.59;
    color: #133364;
    display: block;
}
.section-exchange .section-exchange-bg {
    width: 745px;
    height: 446px;
    position: absolute;
    left: -228px;
    top: 170px;
    background-image: url('../img/exchange-bg-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.section-exchange .section-exchange-right-bg {
    width: 53%;
    height: 231px;
    position: absolute;
    right: 0px;
    top: 46px;
    opacity: 0.1;
    background-image: url('../img/exchange-bg-right.png');
    background-size: contain;
    background-repeat: repeat;
    z-index: 1;
}
.section-exchange .section-exchange-left-bottom-bg {
    width: 20%;
    height: 95px;
    position: absolute;
    left: 0px;
    bottom: -2px;
    background-image: url('../img/exchange-bg-left-bottom.png');
    background-position: right;
    background-repeat: no-repeat;
    z-index: 1;
}
.section-exchange .pure-u-1-3, .section-exchange .pure-u-1-2 {
    z-index: 2;
}
.section-exchange .section-exchange-video {
    width: 450px;
    height: 322px;
    margin-top: 65px;
    background-image: url('../img/mv.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}
.section-exchange .list-img-a {
    width: 70px;
    background-image: url('../img/exchange-list-01.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.section-exchange .list-img-b {
    width: 92px;
    background-image: url('../img/exchange-list-02.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.section-exchange .list-img-c {
    width: 61px;
    background-image: url('../img/exchange-list-03.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.section-exchange .list-img {
    height: 65px;
    margin-top: 75px;
    margin-bottom: 15px;
}
.section-exchange .list-desc {
    max-width: 240px;
    font-size: 17px;
    line-height: 1.59;
    color: #133364;
}
.section-exchange .list-desc .title {
    font-size: 23px;
    font-weight: bold;
    color: #133364;
    margin: 0;
}
.section-exchange .slider-item {
    height: 215px;
    margin: 0 15px;
    padding: 20px 10%;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.09);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.09);
    background-color: #fafafa;
    border: solid 1px rgba(151, 151, 151, 0.07);
}
.section-exchange .slider-item .title {
    font-size: 18px;
    line-height: 0.44;
    text-align: center;
    color: #097be0;
}
.section-exchange .slider-item .desc {
    font-size: 16px;
    line-height: 1.56;
    color: #133364;
}
.section-exchange .slider-item.first-item {
    margin-left: 0;
}
.section-exchange .slider-item.last-item {
    margin-right: 0;
}
.section-exchange .slick-prev, .section-exchange .slick-next {}
.section-exchange .slick-prev:before, .section-exchange .slick-next:before {
    color: black;
}
.section-exchange .slick-prev.slick-disabled:before, .section-exchange .slick-next.slick-disabled:before {
    opacity: 0;
}
.section-exchange .section-h3 {
    margin-top: 45px;
    font-size: 29px;
    font-weight: bold;
    color: #0087ff;
}
.section-exchange .flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.section-exchange .desktop-slider-circle {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../img/exchange-circle-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.section-exchange .desktop-slider-circle-2 {
    width: 114px;
    height: 116px;
    position: absolute;
    top: 35%;
    left: 30%;
    opacity: 0.8;
    background-color: #0087ff;
    border-radius: 50%;
}
.section-exchange .desktop-slider-circle-2:before {
    width: 52px;
    height: 70px;
    position: absolute;
    top: 21px;
    left: 33px;
    display: block;
    content: '';
    background-image: url('../img/icon-big-b.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.section-exchange .desktop-slider-circle-3 {
    width: 90px;
    height: 92px;
    position: absolute;
    top: calc(35% + 75px);
    left: calc(30% + 80px);
    opacity: 0.8;
    background-color: #1ec0ff;
    border-radius: 50%;
}
.section-exchange .desktop-slider-circle-3:before {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 25px;
    display: block;
    content: '';
    background-image: url('../img/icon-big-diamond.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.section-exchange .desktop-slider-item {
    width: 280px;
    height: 100px;
    position: relative;
    margin-top: 25px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px 14px 5px 36px;
    display: inline-block;
}
.section-exchange .desktop-slider-item .title {
    font-size: 21px;
    line-height: 0.38;
    color: #097be0;
    text-align: left;
}
.section-exchange .desktop-slider-item .desc {
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.29;
    color: #133364;
    text-align: left;
}
.section-exchange .desktop-slider-item:before {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 14px;
    left: 10px;
    display: block;
    content: '';
    background-image: url('../img/icon-checked.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.video-content iframe {
    margin: 15px 15px;
    width: 650px;
    height: 360px;
}
.video-content i.icon-close {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .video-content iframe {
        width: 80vw;
        height: auto;
    }
}
.section-economics {
    position: relative;
    background-color: #133364;
}
.section-economics .section-economics-bg {
    width: 563px;
    height: 563px;
    position: absolute;
    left: -69px;
    bottom: 0;
    background-image: url('../img/economics-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.section-economics .pure-u-1-3, .section-economics .pure-u-1-2, .section-economics .pure-u-1-4 {
    z-index: 2;
}
.section-economics .section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.section-economics .section-title {
    margin-bottom: 20px;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.09;
    letter-spacing: 0.6px;
    color: #ffffff;
}
.section-economics .section-msg {
    font-size: 17px;
    line-height: 1.59;
    color: #ffffff;
}
.section-economics .circle {
    height: 240px;
    width: 240px;
    margin-top: 38px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.09);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.09);
    background-color: rgba(0, 135, 255, 0.8);
    border-radius: 50%;
    display: inline-block;
}
.section-economics .circle.blue {
    margin-left: -50px;
    background-color: rgba(30, 192, 255, 0.8);
}
.section-economics .circle-text {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
    height: 50%;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    line-height: 0.51;
    letter-spacing: -0.4px;
    color: #ffffff;
}
.section-economics .circle-tips {
    margin-top: 18px;
    opacity: 0.7;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.2px;
    color: #ffffff;
}
.section-economics .chart-container {
    padding: 0 150px 100px 150px;
}
.section-economics .chart-center-text {
    -webkit-transform: translate(0, 190px);
            transform: translate(0, 190px);
    font-size: 55px;
    font-weight: bold;
    line-height: 0.51;
    color: #ffffff;
}
.section-economics .chart-center-tips {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.94;
    color: #ffffff;
}
.section-economics .labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.section-economics .labels-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.94;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.section-economics .labels-item .title {
    font-size: 29px;
    font-weight: bold;
    line-height: 0.97;
    color: #0085fd;
}
.section-team {
    background-color: #f0f6fe;
}
.section-team .section {
    padding-bottom: 30px;
}
.section-team .section-title {
    margin-bottom: 28px;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.09;
    letter-spacing: 0.6px;
    color: #0087ff;
}
.section-team .section-sub-title {
    margin-bottom: 20px;
    font-size: 29px;
    font-weight: bold;
    color: #0087ff;
}
.section-advisors .section {
    padding-top: 0;
    padding-bottom: 20px;
}
.member-container-shadow {
    position: relative;
    margin-bottom: 30px;
}
.member-container-shadow:before {
    width: 320px;
    height: 348px;
    position: absolute;
    top: 0;
    margin-top: 82px;
    margin-left: 7px;
    opacity: 0.25;
    border-radius: 5px;
    -webkit-filter: blur(20.3px);
            filter: blur(20.3px);
    background-image: -webkit-gradient(linear, right top, left top, from(#133364), to(#0087ff));
    background-image: linear-gradient(to left, #133364, #0087ff);
    content: '';
    display: inline-block;
}
.member-container {
    position: relative;
    width: 320px;
    min-height: 348px;
    margin-top: 82.5px;
    padding-top: 107.5px;
    border-radius: 5px;
    background-color: #FFF;
    display: inline-block;
}
.member-container .link {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 44.5px;
    left: 19px;
    background-color: #0087ff;
    border-radius: 50%;
}
.member-container .link:after {
    width: 38px;
    height: 38px;
    display: block;
    content: '';
    background-image: url('../img/icon-linkedin.svg');
    background-size: 50%;
    background-position: 50% 40%;
    background-repeat: no-repeat;
}
.member-img {
    width: 165px;
    height: 165px;
    position: absolute;
    top: 0;
    left: 77.5px;
    -webkit-transform: translate(0, -82.5px);
            transform: translate(0, -82.5px);
    background-size: cover;
    background-size: 101%;
    background-position: center center;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.09);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.09);
}
.member-desc {
    padding: 0 19px 10px 19px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ffffff;
    font-size: 17px;
    line-height: 1.59;
    color: #133364;
    text-align: left;
}
.member-desc .title {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.04;
    color: #097be0;
}
.member-desc .position {
    margin-bottom: 7px;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.41;
    color: #097be0;
}
@media screen and (max-width: 1200px) {
    .member-container-shadow {}
    .member-container-shadow:before {
        width: 295px;
        height: 321px;
    }
    .member-container {
        width: 295px;
        min-height: 321px;
        margin-top: 75px;
        padding-top: 100px;
    }
    .member-img {
        width: 150px;
        height: 150px;
        left: 72.5px;
        -webkit-transform: translate(0, -75px);
                transform: translate(0, -75px);
    }
}
@media screen and (max-width: 1080px) {
    .member-container-shadow {}
    .member-container-shadow:before {
        width: $member-container-medium-width;
        height: $member-container-medium-height;
    }
    .member-container {
        width: 280px;
        min-height: 305px;
        margin-top: 67.5px;
        padding-top: 92.5px;
    }
    .member-container .link {
        width: 36px;
        height: 36px;
        top: 39px;
    }
    .member-container .link:after {
        width: 36px;
        height: 36px;
    }
    .member-img {
        width: 135px;
        height: 135px;
        left: 72.5px;
        -webkit-transform: translate(0, -67.5px);
                transform: translate(0, -67.5px);
    }
    .member-img .link {
        width: 35px;
        height: 35px;
        top: 32.5px;
    }
    .member-img .link:after {
        width: 35px;
        height: 35px;
    }
}
.member-advisor-YKChu {
    background-image: url('../img/team/team_photo_YKChu.png');
}
.member-advisor-JosephFan {
    background-image: url('../img/team/team_photo_JosephFan.png');
}
.member-advisor-TimHsu {
    background-image: url('../img/team/team_photo_TimHsu.png');
}
.member-advisor-AnthonyStaten {
    background-image: url('../img/team/team_photo_AnthonyStaten.png');
}
.member-advisor-ScofieldYeh {
    background-image: url('../img/team/team_photo_ScofieldYeh.png');
}
.member-advisor-ronald {
    background-image: url('../img/team/team_photo_ronald.png');
}
.member-team-teddy {
    background-image: url('../img/team/team_photo_teddy.png');
}
.member-team-blake {
    background-image: url('../img/team/team_photo_blake.png');
}
.member-team-ben {
    background-image: url('../img/team/team_photo_ben.png');
}
.member-team-johnny {
    background-image: url('../img/team/team_photo_johnny.png');
}
.member-team-star {
    background-image: url('../img/team/team_photo_star.png');
}
.member-team-alice {
    background-image: url('../img/team/team_photo_alice.png');
}
.member-team-LaticiaFan {
    background-image: url('../img/team/team_photo_LaticiaFan.png');
}
.member-team-albert {
    background-image: url('../img/team/team_photo_albert.png');
}
.member-team-nick {
    background-image: url('../img/team/team_photo_nick.png');
}
.member-team-TravisLiu {
    background-image: url('../img/team/team_photo_TravisLiu.png');
}
.member-team-ML-Chen {
    background-image: url('../img/team/team_photo_ML-Chen.png');
}
.member-team-jack {
    background-image: url('../img/team/team_photo_jack.png');
}
.member-team-NeilWong {
    background-image: url('../img/team/team_photo_NeilWong.png');
}
.section-media {
    background-color: #133364;
}
.section-media .section-title {
    margin-bottom: 30px;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.09;
    letter-spacing: 0.6px;
    color: #ffffff;
}
.media-container {
    position: relative;
    font-size: 16px;
    line-height: 1.56;
    color: #133364;
    display: inline-block;
}
.media-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(39%, rgba(0, 0, 0, 0.48)), color-stop(58%, rgba(0, 0, 0, 0.48)), to(#000000));
    background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.48) 39%, rgba(0, 0, 0, 0.48) 58%, #000000);
}
.media-title {
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 17px;
    line-height: 1.41;
    color: #ffffff;
}
.media-logo {
    width: 130px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: contain;
}
.media-img {
    width: 320px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
}
.media-img-crow {
    background-image: url('../img/media_pic_CryptoCrow.jpg');
}
.media-img-bad {
    background-image: url('../img/media_pic_TheBadCryptoPodca.jpg');
}
.media-img-prome {
    background-image: url('../img/media_pic_Prometheus.jpg');
}
.media-logo-crow {
    background-image: url('../img/media-logo-crow.png');
}
.media-logo-bad {
    background-image: url('../img/media-logo-bad.png');
}
.media-logo-prome {
    background-image: url('../img/media-logo-prome.png');
}
.media-link-container {
    margin-top: 90px;
    margin-bottom: 60px;
}
.media-link {
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}
.media-link-its {
    background-image: url('../img/link-its.png');
}
.media-link-exchange {
    background-image: url('../img/link-exchange.png');
}
.media-link-bitsonline {
    background-image: url('../img/link-bitsonline.png');
}
.media-link-idol {
    background-image: url('../img/link-idol.png');
}
.media-link-reuters {
    background-image: url('../img/link-reuters.png');
}
.media-link-cryptomode {
    background-image: url('../img/link-cryptomode.png');
}
.media-link-oracle {
    background-image: url('../img/link-oracle.png');
}
.media-link-speaker {
    background-image: url('../img/link-speaker.png');
}
.media-link-nvezz {
    background-image: url('../img/link-nvezz.png');
}
.media-link-bitcoin {
    background-image: url('../img/link-bitcoin.png');
}
.media-s-link {
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}
.media-s-link-bench {
    background-image: url('../img/link-s-bench.png');
}
.media-s-link-track {
    background-image: url('../img/link-s-track.png');
}
.media-s-link-icodr {
    background-image: url('../img/link-s-icodr.png');
}
.media-s-link-rating {
    background-image: url('../img/link-s-rating.png');
}
.media-s-link-icoholder {
    background-image: url('../img/link-s-icoholder.png');
}
.media-s-link-watch {
    background-image: url('../img/link-s-watch.png');
}
.media-s-link-marks {
    background-image: url('../img/link-s-marks.png');
}
@media screen and (max-width: 1200px) {
    .media-img {
        width: 300px;
        height: 189px;
    }
    .media-link {
        height: 65px;
    }
    .media-s-link {
        height: 36px;
    }
}
@media screen and (max-width: 1080px) {
    .media-img {
        width: 270px;
        height: 170px;
    }
    .media-link {
        height: 55px;
    }
    .media-s-link {
        height: 32px;
    }
}
.section-roadmap {
    font-size: 19px;
    line-height: 1.53;
    color: #133364;
}
.section-roadmap .section-title {
    margin-bottom: 50px;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.09;
    letter-spacing: 0.6px;
    color: #0087ff;
}
.section-roadmap .pure-u-1 {
    position: relative;
}
.section-roadmap .arrow {
    position: absolute;
    right: 40px;
    bottom: 9px;
}
.section-roadmap .arrow-left {
    width: 35px;
    height: 35px;
    background-image: url('../img/icon-arrow-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}
.section-roadmap .arrow-right {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    background-image: url('../img/icon-arrow-left.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    cursor: pointer;
}
.roadmap-item {
    font-size: 17px;
    line-height: 2.29;
    color: #133364;
    border-top: solid 1px rgba(19, 51, 100, 0.3);
}
.roadmap-item .title {
    margin: 27px 0;
    font-size: 29px;
    font-weight: bold;
    color: #133364;
}
.roadmap-item li {
    position: relative;
    padding: 0 30px;
}
.roadmap-item li:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: 0px;
    display: block;
    content: '';
    background-image: url('../img/icon-checked.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.roadmap-item.selected {
    margin-right: 6px;
    border-top: solid 2px #0087ff;
}
.roadmap-item.selected .title {
    color: #0087ff;
}
.slick-slide div {
    outline: 0;
}
.header {
    position: fixed;
    height: 75px;
    width: 100%;
    z-index: 252;
}
.header .logo {
    position: absolute;
    top: 20px;
    left: 45px;
}
.header .btn {
    position: absolute;
    top: 20px;
    right: 45px;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 35px;
    text-align: center;
    background-color: #ffffff;
    color: #133364;
}
.header.scrolling {
    background-color: #133364;
}
.nav-wrap {
    position: absolute;
    top: 30px;
    left: 255px;
    text-transform: capitalize;
    z-index: 99;
}
.nav-wrap ul, .nav-wrap li, .nav-wrap a {
    padding: 0;
    outline: none;
}
.nav-wrap ul, .nav-wrap li {
    border: none;
}
.nav {
    margin: 0;
    display: inline-block;
}
.nav li {
    display: none;
    position: relative;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    line-height: 20px;
}
.nav li a {
    margin-right: 30px;
    display: inline-block;
    opacity: 0.7;
    color: #ffffff;
}
.nav span:after {
    width: 0;
    height: 0px;
    border: 4px solid transparent;
    border-bottom: none;
    border-top-color: #8a8383;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: 5px;
}
.nav .current a {
    color: #FFF;
    opacity: 1;
}
.nav-hamburger, .mobile-nav {
    display: none;
}
@media screen and (max-width: 768px) {
    .header {
        height: 45px;
    }
    .header .logo {
        top: 10px;
        left: 45px;
        z-index: 100;
    }
    .header .btn {
        display: none;
    }
    .nav-wrap {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }
    .nav-hamburger {
        width: 21px;
        height: 20px;
        position: absolute;
        top: 12px;
        left: 13px;
        display: block;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 100;
    }
    .nav-hamburger span {
        display: block;
        position: absolute;
        left: 0;
        height: 0.9px;
        width: 100%;
        background: #FFF;
        border-radius: 9px;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .nav-hamburger span:nth-child(1) {
        top: 8px;
        -webkit-transform-origin: -2px center;
                transform-origin: -2px center;
    }
    .nav-hamburger span:nth-child(2) {
        top: 14px;
        -webkit-transform-origin: -2px center;
                transform-origin: -2px center;
    }
    .nav-hamburger.open span {}
    .nav-hamburger.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 3px;
        left: 3px;
    }
    .nav-hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 21px;
        left: 3px;
    }
    .nav {
        display: none;
    }
    .mobile-nav {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
        display: block;
        background-color: #133364;
        -webkit-transition: opacity .15s ease-out;
        transition: opacity .15s ease-out;
    }
    .mobile-nav-enter {
        opacity: 0;
    }
    .mobile-nav-enter-active {
        opacity: 1;
    }
    .mobile-nav-exit {
        opacity: 1;
    }
    .mobile-nav-exit-active {
        opacity: 0;
    }
    .mobile-nav-content {
        width: 100%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 55px 55px;
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(19, 51, 100, 0.8)), to(rgba(3, 106, 216, 0.8)));
        background-image: linear-gradient(to top, rgba(19, 51, 100, 0.8), rgba(3, 106, 216, 0.8));
        font-size: 19px;
        line-height: 2.68;
    }
    .mobile-nav-content a {
        color: #ffffff;
    }
    .mobile-btn {
        width: 125px;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 55px;
        border-radius: 5.7px;
        background-color: rgba(74, 144, 226, 0.35);
        font-size: 15px;
        line-height: 40px;
        text-align: center;
    }
}
footer {
    min-height: 433px;
    position: relative;
    background: #0a336a;
}
footer .section {
    padding: 48px 0;
}
footer .section-title {
    font-size: 46px;
    font-weight: bold;
    line-height: 1.09;
    letter-spacing: 0.6px;
    color: #ffffff;
}
footer .email-subscription {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 12px;
}
.footer-links {
    margin-top: 100px;
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
    font-size: 15px;
    line-height: 2.6;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}
.footer-links .link {
    opacity: 0.7;
    font-size: 15px;
    color: #ffffff;
}
.footer-links .link:after {
    margin: 0 20px;
    display: inline-block;
    content: '|';
}
.footer-links .link:last-child {}
.footer-links .link:last-child:after {
    margin: 0;
    content: '';
}
.footer-logo {
    position: absolute;
    left: 77px;
    bottom: 34px;
}
.copyright {
    position: absolute;
    right: 77px;
    bottom: 34px;
    opacity: 0.4;
    font-size: 13px;
    line-height: 2.54;
    color: #ffffff;
}
.footer-right-bg {
    width: 17%;
    height: 136px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    z-index: 1;
}
.footer-email {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.social-list {
    padding: 0 20%;
    margin-top: 100px;
}
.email-subscription {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 3;
}
.email-subscription .tips {
    position: absolute;
    left: 20px;
    bottom: -20px;
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
    opacity: 0;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
}
.email-subscription .success {
    opacity: 1;
}
.email-subscription .success:before {
    width: 16px;
    height: 16px;
    position: absolute;
    top: -2px;
    left: -20px;
    display: block;
    content: '';
    background-image: url('../img/icon-success.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.email-subscription .fail {
    opacity: 1;
}
.email-subscription .fail:before {
    width: 16px;
    height: 16px;
    position: absolute;
    top: -2px;
    left: -20px;
    display: block;
    content: '';
    background-image: url('../img/icon-fail.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.email-subscription-text {
    color: white;
    margin-right: 35px;
}
.email-subscription-input {
    min-width: 250px;
    min-height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(74, 144, 226, 0.35);
    border: solid 0.1px rgba(74, 144, 226, 0.35);
    color: #ffffff;
}
.email-subscription-input::-webkit-input-placeholder {
    margin-left: 6px;
    font-size: 13px;
    line-height: 2.54;
    color: rgba(255, 255, 255, 0.6);
}
.email-subscription-input:-ms-input-placeholder {
    margin-left: 6px;
    font-size: 13px;
    line-height: 2.54;
    color: rgba(255, 255, 255, 0.6);
}
.email-subscription-input::placeholder {
    margin-left: 6px;
    font-size: 13px;
    line-height: 2.54;
    color: rgba(255, 255, 255, 0.6);
}
.email-subscription-group {
    min-width: 68px;
    min-height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #1ec0ff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.email-subscription-img {
    margin-top: -1px;
}
