footer {
    min-height: 433px;
    position: relative;
    background: #0a336a;

    .section {
        padding: 48px 0;
    }

    .section-title {
        font-size: 46px;
        font-weight: bold;
        line-height: 1.09;
        letter-spacing: 0.6px;
        color: #ffffff;
    }

    .email-subscription {
        justify-content: left;
        margin-bottom: 12px;
    }
}

.footer-links {
    margin-top: 100px;
    transform: translate(0, 15px);
    font-size: 15px;
    line-height: 2.6;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;

    .link {
        opacity: 0.7;
        font-size: 15px;
        color: #ffffff;
        &:after {
            margin: 0 20px;
            display: inline-block;
            content: '|';
        }

        &:last-child {
            &:after {
                margin: 0;
                content: '';
            }
        }
    }
}

.footer-logo {
    position: absolute;
    left: 77px;
    bottom: 34px;
}

.copyright {
    position: absolute;
    right: 77px;
    bottom: 34px;
    opacity: 0.4;
    font-size: 13px;
    line-height: 2.54;
    color: #ffffff;
}

.footer-right-bg {
    width: 17%;
    height: 136px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: resolve('footer-bg.png');
    background-repeat: no-repeat;
    z-index: 1;
}

.footer-email {
    align-items: flex-end;
    display: flex;
}

.social-list {
    padding: 0 20%;
    margin-top: 100px;
}