footer {
    min-height: 433px;
    position: relative;
    background: #0a336a;

    .section {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .section-title {
        font-size: 46px;
        font-weight: bold;
        line-height: 1.09;
        letter-spacing: 0.6px;
        color: #ffffff;
    }

    .email-subscription {
        justify-content: left;
        margin-bottom: 12px;
    }
}

.footer-links {
    margin-top: 100px;
    transform: translate(0, 15px);
    font-size: 15px;
    line-height: 2.6;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;

    .link {
        opacity: 0.7;
        font-size: 15px;
        color: #ffffff;
        &:after {
            margin: 0 20px;
            display: inline-block;
            content: '|';
        }

        &:last-child {
            &:after {
                margin: 0;
                content: '';
            }
        }

        &:hover {
            opacity: 1;
            color: #ffffff;
        }
    }
}

.footer-logo {
    position: absolute;
    left: 77px;
    bottom: 34px;
}

.copyright {
    position: absolute;
    right: 77px;
    bottom: 34px;
    opacity: 0.4;
    font-size: 13px;
    line-height: 2.54;
    color: #ffffff;
}

.footer-right-bg {
    width: 16%;
    height: 136px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: resolve('footer-bg.png');
    background-repeat: no-repeat;
    background-size: auto 150%;
    z-index: 1;
}

.footer-email {
    align-items: flex-end;
    display: flex;
}

.social-list {
    padding: 0 20%;
    margin-top: 100px;
}

@media $breakpoint-tablet {
    footer {
        padding-bottom: 20px;

        .email-subscription {
            width: 100%;
        }
        .section {
            padding-left: 17px;
            padding-right: 17px;    
        }

        .logo-img {
            width: 32px;
            height: 20px;
            vertical-align: middle;    
        }
 
        .logo-text {   
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
        }
    }

    .footer-email {
        margin: 23px 0 43px 0;
    }

    .footer-right-bg {
        width: 40%;
        height: 60px;
        background-image: resolve('footer-mobile-bg.svg');
        background-size: contain;
        background-position: right 100%;
    }

    .email-subscription-input {
        flex: 1;
    }

    .social-list {
        padding: 0;
        margin-top: 0;
    }

    .footer-logo {
        position: initial;
        text-align: center;
    }

    .footer-links { 
        margin-top: 39px;

        .link {
            font-size: 13px;
            &:after {
                margin: 0 15px;
            }
        }
    }

    .copyright {
        position: initial;
        text-align: center;
    }
}