/* header nav */
.header {
    position: fixed;
    height: 75px;
    width: 100%;
    z-index: 252;
    &.scrolling {
        background-color: #133364;
    }
    .logo {
        position: absolute;
        top: 20px;
        left: 45px;
    }
    .btn {
        position: absolute;
        top: 20px;
        right: 45px;
        width: 110px;
        height: 35px;
        border-radius: 5px;
        font-size: 15px;
        line-height: 35px;
        text-align: center;
        background-color: rgba(74, 144, 226, 0.35);
        color: #ffffff;

        &:hover {
            color: #133364;
            background-color: #ffffff;
        }
    }
}

/* nav-wrap */
.nav-wrap {
    position: absolute;
    top: 30px;
    left: 255px;
    text-transform: capitalize;
    z-index: 99;
    ul, li, a {
        padding: 0;
        outline: none;
    }
    ul, li {
        border: none;
    }
}
.nav {
    margin: 0;
    display: inline-block;
    li {
        display: none;
        position: relative;
        display: inline-block;
        list-style: none;
        font-size: 15px;
        line-height: 20px;
        a {
            margin-right: 30px;
            display: inline-block;
            color: rgba(255, 255, 255, 0.7);

            &:hover {
                color: #ffffff;
            }
        }
    }
    /* adds down arrow */
    span:after {
        width: 0;
        height: 0px;
        border: 4px solid transparent;
        border-bottom: none;
        border-top-color: #8a8383;
        content:'';
        vertical-align: middle;
        display: inline-block;
        position: relative;
        right: 5px;
    }
    .current {
        a {
            color: $color-white;
            opacity: 1;
        }
    }
}

.nav-hamburger, .mobile-nav {
    display: none;
}

@media $breakpoint-tablet {
    .section-mainly {
        .section-title {
            width: 95%;
            margin: 0 auto;
            font-size: 34px;
            text-align: center;
        }

        .section-msg {
            margin: 0 auto;
        }
    }

    .header {
        height: 45px;

        .logo {
            top: 10px;
            left: 45px;
            z-index: 100;
        }

        .btn {
            display: none;
        }
    }
    .nav-wrap {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }
    .nav-hamburger {
        width: 21px;
        height: 20px;
        position: absolute;
        top: 12px;
        left: 13px;
        display: block;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 100;
        span {
            display: block;
            position: absolute;
            left: 0;
            height: 0.9px;
            width: 100%;
            background: $color-white;
            border-radius: 9px;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 8px;
                transform-origin: -2px center;
            }
            &:nth-child(2) {
                top: 14px;
                transform-origin: -2px center;
            }
        }
        &.open span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 3px;
                left: 3px;
            }
            &:nth-child(2) {
                transform: rotate(-45deg);
                top: 21px;
                left: 3px;
            }
        }
    }
    .nav {
        display: none;
    }
    .mobile-nav {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
        display: block;
        background-color: #133364;
        transition: opacity .15s ease-out;
    }

    .mobile-nav-enter {
        opacity: 0;
    }

    .mobile-nav-enter-active {
        opacity: 1;
    }

    .mobile-nav-exit {
        opacity: 1;
    }

    .mobile-nav-exit-active {
        opacity: 0;
    }

    .mobile-nav-content {
        width: 100%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 55px 55px;
        background-image: linear-gradient(to top, rgba(19, 51, 100, 0.8), rgba(3, 106, 216, 0.8));
        font-size: 19px;
        line-height: 2.68;

        a {
            color: #ffffff;
        }
    }

    .mobile-btn {
        width: 125px;
        height: 40px;
        position: absolute;
        bottom: 0;
        left: 55px;
        border-radius: 5.7px;
        background-color: rgba(74, 144, 226, 0.35);
        font-size: 15px;
        line-height: 40px;
        text-align: center;
    }
}
