.email-subscription{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 3;

    .tips {
        position: absolute;
        left: 20px;
        bottom: -20px;
        font-size: 13px;
        line-height: 13px;
        color: #ffffff;
        opacity: 0;
        transition: opacity 3s;
    }
    .success {
        opacity: 1;
        &:before {
            width: 16px;
            height: 16px;
            position: absolute;
            top: -2px;
            left: -20px;
            display: block;
            content: '';
            background-image: resolve('icon-success.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .fail {
        opacity: 1;
        &:before {
            width: 16px;
            height: 16px;
            position: absolute;
            top: -2px;
            left: -20px;
            display: block;
            content: '';
            background-image: resolve('icon-fail.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.email-subscription-text {
    color: white;
    margin-right: 35px;
}

.email-subscription-input {
    min-width: 255px;
    min-height: 35px;
    display: flex;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(74, 144, 226, 0.35);
    border: solid 0.1px rgba(74, 144, 226, 0.35);
    color: #ffffff;
    text-indent: 12px;

    &::placeholder {
        margin-left: 6px;
        font-size: 13px;
        line-height: 2.54;
        color: rgba(255, 255, 255, 0.6);
    }
}

.email-subscription-group {
    min-width: 68px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1ec0ff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.email-subscription-img {
    margin-top: -1px;
}

@media $breakpoint-tablet{
    .email-subscription-input {
        min-width: calc(100% - 70px);
    }

    .email-subscription {
        .subscription-tips-mobile {
            position: static;
            &.success,
            &.fail {
                &:before {
                    position: static;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }
    }

    .email-subscription-mobile {
        width: 100%;
        padding-top: 19px;
        padding-right: 55px;
    }

    .email-subscription-input-mobile {
        padding: 15px 0;
        display: block;
        width: 100%;
        border: none;
        font-size: 19px;
        opacity: 0.6;
        background: none;
        color: #ffffff;

        &::placeholder {
            color: #ffffff;
        }
    }

    .email-subscription-btn {
        margin-top: 43px;
        display: block;
        width: 100%;
        padding: 9px 34px;
        border-radius: 5.7px;
        border: none;
        background-color: #1ec0ff;
        color: #ffffff;
    }
}
